@charset "utf-8";


body {
  border-top : 8px solid black;

}
div.container {
  background: url('/images/rounder.gif')  top center no-repeat;
}

div#name {
  height:90px;
  text-align:center;
  font-family: 'Times New Roman';
  font-weight:lighter;

  border-bottom: 1px solid #d2d3cd;

}
#name h1 {
  font-size: 26pt;
  vertical-align:bottom;
  padding:0px;
  margin:0px;
  margin-top:40px;
}

div#profession {

  height:136px;
  text-align:center;
  font-family: georgia;
  font-size: 26pt;
  font-style:italic;
  font-weight:bold;

}


div#center-border {

  height:196px;
  background: url('/images/center-border.gif') repeat-x;

}

.title {
  margin-top:20px;
  border-bottom: 1px solid #2d2c32;
  color:#999;
  font-size:12pt;
  font-family: 'georgia';

  


}

.zitat-word {
  color:#4782ac; 
  font-style:italic;
}
