---
title: Евгений Варламов - Тестовая страница
---

%p
  wqqwe
  = image_tag 'mgu.jpeg', style: 'margin-top: 60px;', id: 'image'
  qwe

:javascript

  (function() {
      _CaliptSettings = {
        minWidth:  400, // минимальная ширина фотографий
        minHeight: 250  // минимальная высота фотографий
      };
      var ca = document.createElement('script');
      ca.type = 'text/javascript';
      ca.async = true;
      ca.src = 'http://assets.calipt.ru/pip.js';
      ca.id = "calipt-adv";
      ca.setAttribute('data-site-id', 'ac3f9312');
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ca, s);
  })();

