---
title: Евгений Варламов - Тестовая страница
---

:javascript
  __tlid = '299513675893440513';
  setTimeout(function(){(function(d,t){var s=d.createElement(t),x=d.getElementsByTagName(t)[0];
  s.type='text/javascript';s.async=true;s.src='//cdn.thinglink.me/jse/embed.js';
  x.parentNode.insertBefore(s,x);})(document,'script');},0);

%p
  wqqwe
  = image_tag 'beatls.jpeg', style: 'margin-top: 60px; width: 500px;', id: 'image'
  qwe
